/* Footer */
.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 1.5rem!important;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }


/* Cards */
  .card {
    transition: transform .2s; /* Animation */
  }

  .card:hover {
    border: goldenrod solid 2px;
    transform: scale(1.00); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* Well */
#well {
text-align: center;
margin: 3rem;
}