<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Testez votre culture politique via un quizz ! <br> Ah oui, on ne parle que de scandales ici =D</p>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more</a>
      <a class="btn btn-outline-primary btn-lg" href="#" onclick="Seeds()"role="button">Seeds</a>
      <a class="btn btn-outline-primary btn-lg" href="#" onclick="InjectRandomFact()" role="button">Get random fact</a>
    </p>
  </div>
